@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


body {
  background-color: #FAE8BF;
  
  user-select: none;
}

.swiper-cards .swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.swiper-3d .swiper-slide-shadow {
  background: none !important;
}